/* BODY */
body{
    font-family:'Poppins', sans-serif;
    background: linear-gradient(135deg,#111827,#374151);
    margin:0;
    padding:0;
}

/* CONTAINER */
.container{
    width:90%;
    max-width:900px;
    background:rgba(255,255,255,0.95);
    backdrop-filter: blur(10px);
    margin:30px auto;
    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.15);
    text-align:center;
    transition:0.3s;
}

.container:hover{
    transform: translateY(-5px);
}

/* HEADINGS */
h1{
    color:#f59e0b;
    font-size:32px;
}

h3{
    color:#0f766e;
}

/* PARAGRAPH */
p{
    color:#444;
    line-height:1.6;
}

/* INPUTS */
input, select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    box-sizing:border-box;
}

/* BUTTON */
button{
    width:100%;
    padding:12px;
    background:#f59e0b;
    color:black;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#d97706;
}

/* LINKS BUTTON */
.btn{
    display:inline-block;
    background:#f59e0b;
    color:black;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    margin-top:15px;
    transition:0.3s;
}

.btn:hover{
    background:#ffb703;
    transform: scale(1.05);
}

/* HERO SECTION */
.hero{
    background: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
    background-size: cover;
    background-position: center;
    padding:120px 20px;
    text-align:center;
    color:white;
    border-radius:15px;
    margin-top:20px;
    position:relative;
}

.hero::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.6);
    border-radius:15px;
}

.hero-content{
    position:relative;
    z-index:2;
}

.hero h1{
    color:white;
    font-size:42px;
}

.hero p{
    color:white;
    font-size:18px;
}

.hero h3{
    color:#ffd700;
}

/* SMOOTH SCROLL */
html{
    scroll-behavior:smooth;
}
