<!DOCTYPE html>
<html>
<head>
    <title>Knowledge Nest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    
    <h1>🚀 Knowledge Nest</h1>

<p>
Learn English, Communication Skills & Confidence Building
with expert guidance.
</p>

<h3>Join Our Free Demo Class</h3>

<p>
✔ Improve Spoken English<br>
✔ Build Confidence<br>
✔ Personality Development<br>
✔ Interview Preparation
</p>

<a href="/register" class="btn">Register Now</a>

    <a href="/register" class="btn">Register Now</a>
<hr>

<h2>🎯 Our Mission</h2>

<p>
Our mission is to help students become confident speakers,
better communicators, and future-ready professionals.
</p>

<hr>

<h2>🌟 What You Will Gain</h2>

<p>✔ Better Communication Skills</p>
<p>✔ Improved Confidence</p>
<p>✔ Public Speaking Ability</p>
<p>✔ Interview Readiness</p>
<p>✔ Professional Personality Development</p>    

<hr>

<h2>About Us</h2>

<p>
Knowledge Nest is dedicated to helping students improve their English communication,
confidence, and personality development skills. Our mission is to prepare students
for academic, professional, and personal success.
</p>
<hr>

  
<hr>
<h2> Contact us</h2>
<p>📧 Email: knowledgenest.edu@gmail.com</p>

<p>📱 WhatsApp: +91 6230919573</p>

<p>📍 India</p>

<hr>
<h2> Founder</h2>    
<p>
    Knowledge Nest was founded by DHRUV VANSH with the vision of helping students
    improve communication skills and build confidence for future success.
</p>    
</div>

</body>
</html>
