<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>



<div class="container">

    <h1>Thank You, {{ name }}!</h1>

    <p>Your registration has been submitted successfully.</p>

    <hr>

    <h3>📢 Important Notice</h3>

    <p>
    Our team will verify your details and contact you within 24 hours.
    After successful verification, you will be added to the respective program and receive further instructions.
    </p>

    <p>
    Thank you for choosing <b>Knowledge Nest</b>. We look forward to helping you grow and succeed! 🚀
    </p>

</div>

</body>
</div>

</body>
</html>
